* {
  bg:       #2E3440;
  bg-alt:   #4C566A;
  fg:       #D8DEE9;
  fg-alt:   #E5E9F0;
  accent:   #88C0D0;
  red:      #BF616A;
  green:    #A3BE8C;
  yellow:   #EBCB8B;
  blue:     #81A1C1;
  magenta:  #B48EAD;
  cyan:     #88C0D0;
}
